<div class="callout-section"
        style="--section-color: {{ include.section_color | default: '#fff' }};">
    <div class="callout-container {% if include.tag %} has-tag {% endif %}" 
         style="--background-color: {{ include.background_color | default: '#000' }};
                --tag-color: {{ include.tag_color | default: '#fff' }};
                --title-color: {{ include.title_color | default: '#e2e2e2' }};
                --body-color: {{ include.body_color | default: '#ccc' }};">
        {% if include.tag %}
            <h4 class="callout-tag">{{ include.tag }}</h4>
        {% endif %}
        {% if include.title %}
            <span class="callout-title">{{ include.title }}</span>
        {% endif %}
        {% if include.body %}
            <div class="callout-body">
                {{ include.body | markdownify }}
            </div>
        {% endif %}
    </div>
</div>