{% assign _vid = nil %}
{% assign _yt = nil %}
{% assign _img = nil %}
{% assign has_shadow = false %}
{% assign has_media = false %}
{% assign final_color = nil %}
{% assign modal_id = include.title | slugify | prepend: "modal-" %}

{% if include.video and include.video != "" %}{% assign _vid = include.video %}{% endif %}
{% if include.youtube_id and include.youtube_id != "" %}{% assign _yt = include.youtube_id %}{% endif %}
{% if include.image and include.image != "" %}{% assign _img = include.image %}{% endif %}
{% if include.has_shadow %}{% assign has_shadow = true %}{% endif %}
{% if _vid or _yt or _img %}{% assign has_media = true %}{% endif %}

{% case include.color %}
  {% assign final_color = include.color | default: 'black' %}
{% endcase %}

<div class="content-container {% if include.enable_scroll %}sticky-container{% endif %}"
     style="--block-w: {{ include.width | default: '100%' }}; 
            --scroll-h: {{ include.scroll_height | default: '800px' }};
            --block-h: {{ include.height | default: 'auto' }};  
            --offset-left: {{ include.left_offset | default: '0' }};
            --block-color: {{ final_color }};
            --content-align: {{ include.text_align | default: 'left' }};
            --img-w: {{ include.img_width | default: '50%' }};
            --text-size: {{ include.text_size}};
            --title-size: {{ include.title_size}};
            --margin-bottom: {{include.margin_bottom | default: '0px'}}">
    
    <div class="content-wrapper {% if include.enable_scroll %}sticky-block{% endif %}">    
        
        <div class="content-block {% if has_shadow %}has-shadow{% endif %} {% if has_media %}has-media{% endif %} {% if include.reversed %}is-reversed{% endif %} {% if include.link or include.enable_modal %}is-clickable{% endif %}"
             {% if include.enable_modal %}onclick="openModal('{{ modal_id }}')"{% endif %}>
            
            {% if include.link and include.enable_modal != true %}<a href="{{ include.link | relative_url }}" class="content-link-wrapper">{% endif %}

            {% if has_media %}
            <div class="content-media-section">
                {% if _yt %}
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/{{ _yt }}?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                {% elsif _vid %}
                    <video autoplay loop muted playsinline class="content-media-element">
                        {% if _vid contains "http" %}
                            <source src="{{ _vid }}" type="video/mp4">
                            <source src="{{ _vid }}" type="video/quicktime">
                        {% else %}
                            <source src="{{ _vid | relative_url }}" type="video/mp4">
                            <source src="{{ _vid | relative_url }}" type="video/quicktime">
                        {% endif %}   
                        
                    </video>
                {% elsif _img %}
                    <img src="{{ _img | relative_url }}" class="content-media-element">
                {% endif %}
            </div>
            {% endif %}
            <div class="content-section">
                {% if include.title %}<h4 class="content-title">{{ include.title }}</h4>{% endif %}
                <div class="content-body">
                    {% if include.enable_modal %}
                        {{ include.brief | markdownify | default: "Click to learn more..." }}
                    {% else %}
                        {{ include.content | markdownify }}
                    {% endif %}
                </div>
            </div>
            {% if include.link and include.enable_modal != true %}</a>{% endif %}
        </div>
    </div>
</div>

{% if include.enable_modal %}
<div id="{{ modal_id }}" class="modal-overlay">
    <div class="modal-window" style="--block-color: {{ final_color }};">
        <button class="modal-close" onclick="closeModal('{{ modal_id }}')">&times;</button>
        <div class="modal-content">
            <h2 class="content-title">{{ include.title }}</h2>
            <div class="content-modal-media">
                {% if _yt %}
                    <div class="video-responsive"><iframe src="https://www.youtube.com/embed/{{ _yt }}?rel=0" frameborder="0" allowfullscreen></iframe></div>
                {% elsif _vid %}
                    <video controls class="content-media-element">
                        {% if _vid contains "http" %}
                            <source src="{{ _vid }}" type="video/quicktime">
                        {% else %}
                            <source src="{{ _vid | relative_url }}">
                        {% endif %} 
                    </video>
                {% elsif _img %}
                    <img src="{{ _img | relative_url }}" class="content-media-element">
                {% endif %}
            </div>
            <div class="modal-body content-body">
                {{ include.content | markdownify }}
            </div>
        </div>
    </div>
    <div class="modal-bg" onclick="closeModal('{{ modal_id }}')"></div>
</div>
{% endif %}