{% assign final_video = include.trialer_video | default: page.trialer_video %}

<div class="project-info">
    <div class = "sticky-container description-block">
        <div class = "sticky-block">
            <div class = "info-block">
                <div class="text-content-wrapper">
                    <h3>{% if include.description_title %}{{ include.description_title }}{% elsif page.description_title %}{{ page.description_title }}{% else %}&mdash;{% endif %}</h3>
                    <p>{% if include.description %}{{ include.description }}{% elsif page.description %}{{ page.description }}{% else %}&mdash;{% endif %}</p>
                    {% if final_video %}
                        <div class="video-responsive" style="width: 100%;">
                            <iframe src="{{ final_video }}" frameborder="10" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                </div> 
            </div>
        </div>
    </div>
    
    <div class = "sticky-container team-block">
        <div class="info-block">
            <div class="text-content-wrapper">
                <h4>Team</h4>
                {% assign team_value = include.team | default: page.team %}
                {% if team_value %}
                    {% if team_value.size > 1 %}
                        <div class="item-list">
                            {% for item in team_value %}<div>{{ item }}</div>{% endfor %}
                        </div>
                    {% else %}
                        <p>{{ team_value }}</p>
                    {% endif %}
                {% else %}
                    <p>&mdash;</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class = "sticky-container role-block">
        <div class="info-block">
            <div class="text-content-wrapper">
                <h4>My Role</h4>
                {% assign role_value = include.role | default: page.role %}
                {% if role_value %}
                    {% if role_value.size > 1 %}
                        <div class="item-list">
                            {% for item in role_value %}<div>{{ item }}</div>{% endfor %}
                        </div>
                    {% else %}
                        <p>{{ role_value }}</p>
                    {% endif %}
                {% else %}
                    <p>&mdash;</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class = "sticky-container timeline-block">
        <div class="info-block">
            <div class="text-content-wrapper">
                <h4>Timeline</h4>
                <p>{% if include.timeline %}{{ include.timeline }}{% elsif page.timeline %}{{ page.timeline }}{% else %}&mdash;{% endif %}</p>
            </div>
        </div>
    </div>
</div>